*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    text-align: right;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo img{
    max-width: 120px;
    height: auto;
}
.nav-menu{
    display: flex;
}
.nav-menu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-menu a:hover{
    color: #EE1c47;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #EE1c47;
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(imges/banner-3.png);
    background-position: center;
    background-size: cover;
    display: grid;
    /* تراجع  */
    grid-template-columns: repeat(1,1fr);
    align-items: center;

}
.main-text{
    color:#000;
    font-size: 19px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text h5{
    color: #EE1c47;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color: #000;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.main-text p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    color: white;
    background-color: #000;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: solid 2px #2c2c2c;
    border-radius: 50px;
    padding: 12px;
}
.down i:hover{
    background-color: #2c2c2c;
    color: #fff;
    transition: all .42s ease;
}
.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}
.center-text span{
    color: #EE1c47;
}
.row{
    position: relative;
    transition: all .40s;
}
.products{
    display: grid;
/*  بيقدروا يوسعوا ضمن المساحة المتاحة   
     auto-fit : بيخلي الـ Grid يضيف أكبر عدد ممكن من الاعمدة */
                                                 /* سمك العامود */
    grid-template-columns: repeat(auto-fit ,minmax(260px,1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
    gap: 2rem;
}
.products a{
    position: relative;
    transition: all .40s;
    
}
.row img{
    
    width: 100%;
    height: auto;
    transition: all .40s;
}
.row img:hover{
transform: scale(0.9);
}
header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10%);
}

 span{
    position: absolute;
    top: 14px;
    left: 14PX;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
   
}

   .product-text{
        position: relative;
        margin-bottom: 20%;
    }
     .product-text p{
        /* 1. إظهار المحتوى كصندوق مرن (Flex Container) عامودي */
  display: -webkit-box;

  /* 2. الخاصية المسؤولة عن تحديد عدد الأسطر */
  -webkit-line-clamp: 4; /* <--- هون بتحط عدد الأسطر المطلوب (خمسة) */

  /* 3. تحديد الاتجاه العامودي للعنصر المرن */
  -webkit-box-orient: vertical;

  /* 4. إخفاء أي محتوى بيتجاوز الحد */
  overflow: hidden;

  /* 5. (إضافة اختيارية) تحديد ارتفاع سطر موحد عشان التنسيق يكون أدق */
  line-height: 1.4em; /* قيمة اختيارية */
  max-height: 7em;  /* 5 أسطر * 1.4em = 7em (للتوافق مع Firefox) */
    }
    .product-text h2{
    border-bottom: 2px solid #ff6600; 
    padding-bottom: 5px;
    }
     span{
    position: absolute;
    top: 14px;
    left: 14px;
    border-radius: 15%;
    }
    .nevmenu{
        position: fixed;
        display: flex;
        background-color: #EE1c47;
        width: 100%;
        top:0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        z-index: 100000;
        height: auto;
        
    }
    
    .themenu{
        text-align: center;
        color: yellow;
        background-color: red;
        
    }

    .theoffers{
        text-align: center;
        color: aliceblue;
        background-color: green;
    }
    /* .themenu:hover{
        background-color: #EE1c47;
    }
    .theoffers:hover{
        background-color: #EE1c47;
    } */
@media (max-width:689.5px){
    
    .row{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        box-shadow: 0 10px 6px -5px rgba(0, 0, 0, 20%) ;
        direction: rtl;
        border-radius: 2px;
        height: auto;
        place-items: center;
        margin-top: 4px;

    }
    .row img{
    transform: scale(0.95);
    border-radius: 15%;
    
    }
    /* .product-text{
        position: relative;
        margin-bottom: 20%;
    } */

     span{
    position: absolute;
    top: 80%;
    left: 3%;
    border-radius: 15%;

    }
    .product-text h2{
        white-space: nowrap;
    }

}
@media (max-width:555px) {
  .product-text{
         margin-bottom: 20%;
    }

    .product-text span{
    position: absolute;
    top: 90%;
    left: 3%;
    border-radius: 15%;
    }
    .product-text h2{
        white-space: nowrap;
    }
     .meal-name{
       font-size: 18px; 
    }
        .more-4-words{
       font-size: 18px;
       /* white-space: unset; */
    }
    .product-text p{
     font-size: 14px;
    }

}
@media (max-width:400px) {
      .product-text{
         margin-bottom: 20%;
    }

    .product-text span{
    position: absolute;
    top: 99%;
    left: 3%;
    border-radius: 15%;
    }
    .product-text h2{
        white-space: nowrap;
    }
     .meal-name{
       font-size: 16px;



    }
    .more-4-words{

       font-size: 13.5px;
    }

}


@media (max-width: 390px) {
    
}
.meal-image {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; /* بتغطي الحاوية بدون تشوه */
    display: block;

}
@media(min-width:800px){
    .scrolling-container{
        position: sticky;
        background-image: none !important;
        background-color: rgba(0, 0, 0, 80%);

    }

}