
        /* القسم العلوي */
        /* ---------------------- الشريط الأفقي للقصص (Sticky Bar) ---------------------- */
        .scrolling-container {
            background-image: url('images/menu22.jpg');
            background-color: #111;
            position: sticky; 
             top: 0; 
            margin-bottom: -40%;
            width: 100%;
            z-index: 1000;
            margin: 0px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            direction: rtl;
            /* white-space: nowrap; */
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            padding: 10px 0;
            display: flex;
            /* grid-template-columns: repeat(4,1fr); */
            justify-content: space-between;
            text-align: center;
            /* خلفية بيضاء عشان لما يثبت الشريط يغطي على العناصر اللي تحته */
           
            
             /* background-image: url("https://drive.google.com/thumbnail?id=1di_G5dxOIdAUaBNLcJCEVaNB5cz1h_ik&sz=w1000"); */
            background-size: 153.76% 400%; 
            background-repeat: no-repeat;
            background-position: 52.20% bottom;
            scrollbar-width: none;
            -ms-overflow-style: none;
            height: 210px;
        }
        .imgs{
            position: fixed;
            display: flex;
            justify-content: space-between;
            height: 20vh;

        }
       /* صور الاصناف */
        .image-wrapper {
            display: inline-block;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border: 4px solid transparent; 
            transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
            cursor: pointer;
            margin-top: 50%;
        }
        /* صور الاصناف عند الضغط */
        .image-wrapper.highlighted {
            border: 8px double #FFD700; 
            box-shadow: 0 0 15px rgba(255, 215, 0, 0.5)
        }

        .image-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .scrolling-container h5 {
            
            font-size: 1.1em;
            width: 90px;
            margin: 5px auto;
            text-align: center;
             color : white;
        }
/* انتهى القسم العلوي */
/* تسمية بداية كل قائمة  */
        .content-section {
            height: 10em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1;
            text-align: center;
            color: white;
            box-sizing: border-box;
            scroll-margin-top: 100px;
            margin-bottom: 15px;
            margin-top: 15px;
        }
    #topmeun{
       position: relative;
        transition: opacity 1s ease-in-out; /* بتظهر بنعومة */
        display: flex;
        align-items: center; 
        justify-content: center; 
        height: 35em;
            width: 100%; 
            margin: 0px;
            margin-top: 5%;
            background-image: url('images/topmenu2.jpg');
            background-size: 100% 100%; 
            background-repeat: no-repeat;
            background-position: top;
    }
#hiddenLoader {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0; /* البداية شفافة
    transition: opacity 1.5s ease-in-out; /* طولت الوقت شوي لتبين الحركة أروق */
    z-index: 1;
} 

#hiddenLoader.loaded {
    opacity: 1; /* الظهور السحري */
}
    .logo {
 position: absolute;
  /* هون بتحدد موقعه بالضبط */
  top: 10em;
  /* هي الخاصية بتحدد مين رح يكون فوق مين */
  z-index: 2; 
   opacity: 0;  
    }
    .logo2{
  position: absolute;
  /* هون بتحدد موقعه بالضبط */
  top: 10em;
  /* هي الخاصية بتحدد مين رح يكون فوق مين */
  z-index: 2;  
 
    }
    .logo.loaded{
    opacity: 1;
    }
    @media (min-width: 800px) {

     #topmeun{
         background-image: url("images/menudecktob.jpg") ;
     }
     .logo{
        display: none;
     }
}
.card{
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0/15);
    padding: 1em;
    position: absolute;
    left: 50%;
    top: -100%;
    text-align: center;
    width: 400px;
    transform: translate(-50%,-50%);
    transition: all .5;
    opacity: 0;
    z-index: 100000;
    border:#2ecc71 1px solid;
}

.card img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: -50px;
}
.card h2{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    
}
.card .btn-close{
    width: 100%;
    border-radius: 50px;
    border: 0;
    padding: 15px;
    margin-top: 20px;
    background-color: #2ecc71;
    color: #FFF;
    cursor: pointer;
}
.card.open{
    position: fixed;
    opacity: 1;
    top: 50%;
}
@media (max-width: 550px) {
    .card{
        width: 80%;
    }

}
@media (min-width: 800px) {
         #topmeun{
        height: 26.5em;
        margin-top: 0%;
     }

}
    /* اعدادات الوجبة */
